---
## REMEBER! This is not original data!

`_ly` and `_avg` columns dropped in jupyter notebook 3, outliers dropped, amongst other changes*

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter, OrderedDict
import IPython
from IPython.display import display, HTML
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
# CSS = """
# .output {
#     flex-direction: row;
# }
# """
# HTML('<style>{}</style>'.format(CSS))
# pd.set_option('display.max_columns', None)

pd.set_option('display.max_columns', 50)

---

## Double checking large %difference gapes in `CP_` columns

In [2]:
df = pd.read_pickle('./data/0826export_mapped.pkl').iloc[:, 1:]
df.head(3)

,store,week_end_date,fiscal_year,fiscal_week,fiscal_month,sales_amt_ty,comp_pct,mark_down_amt_ty,payroll_adj_hours,num_of_days,strak_traffic,strak_hrs,strak_sales_amt,strak_transaction_num,cp_valid_emails,cp_valid_mailing_address,cp_total_trans,cp_emails_per_trans,cp_mail_add_capture_rate,cp_email_mail_capture_rate,cp_total_email_trans,special_order_amt,sales_units,sales_value,shoes_units,...,sales_amt_per_pay_hour,mgr_count,mgr_tenure_days,avg_mgr_tenure_days,am_count,am_tenure_days,avg_am_tenure_days,ft_count,ft_tenure_days,avg_ft_tenure_days,pt_count,pt_tenure_days,avg_pt_tenure_days,num_of_emps,tot_tenure_days,tot_avg_tenure_days,open_date,close_date,store_state,store_city,gross_feet,class,rptcode,volume_band,store_size
0,1504,06-FEB-16,2017,1,1,22003.18,0.034622,1855.11,192,7,1168,186.88,22003.18,114,51,105,121,0.7391,0.8678,0.8035,69,892.46,296,22003.18,63,...,113.787971,1,286,286.0,0,0,0.0,2,934,467.0,1,47,47.0,4,1267,317,01-MAY-12,NaN,NV,LAS VEGAS,1849,Mall,S,2,mdm
1,1504,13-FEB-16,2017,2,1,17499.35,-0.255050,1986.70,181,7,891,180.31,17499.86,94,33,74,94,0.5156,0.7872,0.6514,64,1913.86,270,17499.35,54,...,96.542811,1,293,293.0,0,0,0.0,2,948,474.0,1,54,54.0,4,1295,324,01-MAY-12,NaN,NV,LAS VEGAS,1849,Mall,S,2,mdm
2,1504,20-FEB-16,2017,3,1,15004.60,-0.327715,1331.95,183,7,930,182.23,15004.60,79,39,65,78,0.6964,0.8333,0.7649,56,2799.29,211,15004.60,65,...,81.876023,1,300,300.0,0,0,0.0,2,962,481.0,1,61,61.0,4,1323,331,01-MAY-12,NaN,NV,LAS VEGAS,1849,Mall,S,2,mdm

In [57]:
email_columns = [i for i in df.columns if 'cp' in i]
email_columns.append('comp_pct')

one = df.groupby(['store', 'fiscal_month'])[email_columns].mean().nlargest(1000, 'comp_pct').mean()
two = df.groupby(['store', 'fiscal_month'])[email_columns].mean().nsmallest(1000, 'comp_pct').mean()
pd.concat([one.to_frame().T, two.to_frame().T])

,cp_valid_emails,cp_valid_mailing_address,cp_total_trans,cp_emails_per_trans,cp_mail_add_capture_rate,cp_email_mail_capture_rate,cp_total_email_trans,comp_pct
0,302.646048,469.334013,584.263781,0.624760,0.811438,0.718099,492.919500,0.128301
0,667.527550,1037.139655,1289.176158,0.600933,0.791911,0.696422,1091.213831,-0.019559

## TABLE TO HTML IMAGE

In [ ]:
css = """
<style type=\"text/css\">
table {
color: black;
font-family: Helvetica, Arial, sans-serif;
width: 700px;
border-collapse:
collapse; 
border-spacing: 3;
}td, th {
border: 1px solid transparent; /* No more visible border */
height: 40px;
}th {
background: gray; /* Darken header a bit */
font-weight: bold;
}td {
background: lightgray;
text-align: center;
}table tr:nth-child(odd) td{
background-color: white;
}
</style>
"""

import random
import imgkit


def DataFrame_to_image(data, css, outputfile="./out.png", format="png"):
    '''
    For rendering a Pandas DataFrame as an image.
    data: a pandas DataFrame
    css: a string containing rules for styling the output table. This must 
         contain both the opening an closing <style> tags.
    *outputimage: filename for saving of generated image
    *format: output format, as supported by IMGKit. Default is "png"
    '''
    fn = str(random.random()*100000000).split(".")[0] + ".html"
    
    try:
        os.remove(fn)
    except:
        None
    text_file = open(fn, "a")
    
    # write the CSS
    text_file.write(css)
    # write the HTML-ized Pandas DataFrame
    text_file.write(data.to_html())
    text_file.close()
    
    # See IMGKit options for full configuration,
    # e.g. cropping of final image
    imgkitoptions = {"format": format}
    
    imgkit.from_file(fn, outputfile, options=imgkitoptions)
    os.remove(fn)
    
DataFrame_to_image(compare_vband, css, outputfile="./compare_table.png", format="png")